<?xml version="1.0" encoding="ISO-8859-15"?>

<launch>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
     # Use ls -ltr /dev/video*
     <param name="video_device" value="/dev/video2" />
     <param name="image_width" value="640" />
     <param name="image_height" value="480" />
     <param name="pixel_format" value="yuyv" /> <!-- "yuyv,mjpeg" /> -->
     <param name="camera_frame_id" value="usb_cam" />
     <param name="io_method" value="mmap"/>
    </node>
    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
     <remap from="image" to="/usb_cam/image_raw"/>
     <param name="autosize" value="true" />
    </node>


  <!-- Enter your AprilTag information below. Add all tag IDs that will be used, with their sizes -->
  <!-- <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen" ns="camera">
    <rosparam param="tag_descriptions">[
      {id: 0, size: 0.081},
      {id: 1, size: 0.081},
      {id: 2, size: 0.081},
      {id: 3, size: 0.081},
      {id: 4, size: 0.081},
      {id: 5, size: 0.081},
      {id: 6, size: 0.054},
      {id: 7, size: 0.054},
      {id: 8, size: 0.054},
      {id: 9, size: 0.054},
      {id: 10, size: 0.054},
      {id: 11, size: 0.054},
      {id: 12, size: 0.054},
      {id: 13, size: 0.054},
      {id: 14, size: 0.054},
      {id: 15, size: 0.054},
      ]
    </rosparam>
    <remap from="image_rect" to="image_raw"/>
  </node> -->


     <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen" ns="camera">
      <!-- Enter your AprilTag information below. Add all tag IDs that will be used, with their sizes -->
      <!-- <param name="~viewer" value="true" />
      <param name="~publish_detections_image" value="true" />
      <param name="~display_type" value="CUBE" />
      <param name="~marker_thickness" value = "0.02" />
      <rosparam command="delete" param="tag_data" /> -->
      <rosparam param="tag_descriptions">[
       {id: 0, size: 0.081},
       {id: 1, size: 0.081},
       {id: 2, size: 0.081},
       {id: 3, size: 0.081},
       {id: 4, size: 0.081},
       {id: 5, size: 0.081},
       {id: 6, size: 0.054},
       {id: 7, size: 0.054},
       {id: 8, size: 0.054},
       {id: 9, size: 0.054},
       {id: 10, size: 0.054},
       {id: 11, size: 0.054},
       {id: 12, size: 0.054},
       {id: 13, size: 0.054},
       {id: 14, size: 0.054},
       {id: 15, size: 0.054},
       ]
      </rosparam>
      <remap from="image_rect" to="/usb_cam/image_raw"/>     <!--  "image_raw"/> -->
      <remap from="~camera_info" to="/usb_cam/camera_info"/>
      <!-- <remap from="~marker_array" to="/apriltags/marker_array"/>
      <remap from="~detections" to="/apriltags/detections"/> -->
     </node>

</launch>
